@media screen and (max-width: 800px) {
    .openClose {
        display: block;
        position: fixed;
        cursor: pointer;
        font-size: 25px;
    }

    section {
        margin: 50px 10px 0 10px;
    }

    .sidebar {
        left: -250px;
    }

    #open {
        @extend .openClose;
        left: 25px;
        top: 15px;
        transition: all 0.5s;
    }

    #close {
        @extend .openClose;
        z-index: 1111;
        left: -210px;
        top: 10px;
        transition: all 0.5s ease;
    }

    #check {
        &:checked ~ .sidebar {
            left: 0;
        }
        &:checked ~ #open {
            left: 250px;
            opacity: 0;
            pointer-events: none;
        }
        &:checked ~ #close {
            left: 210px;
        }
    }
}

@media screen and (max-width: 500px) {
    section {
        margin: 50px 0 0 0;

        .content {
            width: 100%;
            padding: 20px 30px;
        }
    }
}
