* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #e0e0e0;
}

main {
    width: 100%;
    display: flex;
}

body {
   background-color: #20232a;
}

.sidebar {
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background-color: #282c34;
    text-align: center;
    transition: all .5s ease;
    z-index: 1;
}

.sidebar img {
    width: 50%;
    border-radius: 100%;
    margin-top: 30px;
    border: 2px solid #007bff;
}

.sidebar h4 {
    padding: 10px 0px;
}

.sidebar p {
    font-style: italic;
    padding: 20px 0px;
}

.sidebar ul {
    margin-top: 40px;
}

.sidebar ul li {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    margin-top: 15px;
}

.sidebar li a {
    text-decoration: none;
}

.sidebar li a i {
    font-size: 20px;
}

.sidebar li i {
    padding-right: 10px;
    font-size: 20px;
}

#check {
    display: none;
}

#open, #close {
    display: none;
}

section {
    margin-left: 250px;
    width: 100%;
    background-color: #20232a;
}

.content {
    width: 90%;
    margin: auto;
    padding: 20px 50px;
    background-color: #282c34;
}

.content div div {
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about h3 {
    margin-bottom: 15px;
}

.about h3::after {
    content: '/>';
}

.about h3::before {
    content: '<';
}

.about p {
    text-align: justify;
    text-indent: 30px;
}

.about p::after {
    content: '|';
    margin-left: 3px;
    opacity: 1;
    animation: blink .8s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.about div:last-child{
    width: 100%;
    text-align: center;
}

.about button{
    align-self: center;
    background-color: #20232a;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 16px;
    cursor: pointer;
}

.experiece div, .education div, .expertise > div{
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 15px;
}

.experiece h4, .education h4, .expertise h4{
    margin-bottom: 15px;
}

.experiece p, .education p, .expertise p{
    text-indent: 20px;
    margin-bottom: 15px;
}

.tags {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.expertise div span {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: rgba(224, 224, 224, .1);
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
    opacity: .8;
}

.experiece p:nth-last-child(1), .education p:nth-last-child(1), .expertise p:nth-last-child(3){
    text-align: right;
    font-weight: lighter;
    font-size: 15px;
}

.experiece p:nth-last-child(2), .education p:nth-last-child(2), .expertise p:nth-last-child(1){
    margin-left: 15px;
}

.expertise h4 i {
    font-size: 23px;
    margin-right: 5px;
}

.project div {
    display: grid;
    grid-gap: 20px ;
    grid-template-columns: auto auto;
}

.project img {
    width: 100%;
    opacity: .5;
    transition: .3s; 
}

.project figure {
    position: relative;
}

.project figcaption{
    width: 100%;
    position: absolute;
    top: 15px;
    text-align: center;
}

.project img:hover {
    opacity: 1;
}

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) ;
}


@media screen and (max-width: 800px) {

    section {
        margin: 50px 10px 0 10px;
    }

    .sidebar {
        left: -250px;
    }

    #open, #close {
        display: block;
        position: fixed;
        cursor: pointer;
        font-size: 25px;
    }

    #open {
        left: 25px;
        top: 15px;
        transition: all .5s;
    }

    #close {
        z-index: 1111;
        left: -210px;
        top: 10px;
        transition: all .5s ease;
    }

    #check:checked ~ .sidebar {
        left: 0;
    }

    #check:checked ~ #open {
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }

    #check:checked ~ #close {
        left: 210px;
    }
}

@media screen and (max-width: 500px) {

    .content {
        width: 100%;
        padding: 20px 30px;
    }

    section {
        margin: 50px 0 0 0;
    }
}